div.container{
	width: 1024px;
	margin:auto;
	box-shadow: 5px 5px 25px 4px #e0dede ,#e0dede -5px -5px 15px 4px;
	border-radius: 10px 10px 10px 10px;}
div.topline{
	padding: 20px;
	background-color: lightgrey;
	border-radius: 10px 10px 0px 0px;

}
div.whiteline{
	height: 40px;
}
div.logo{
	background-repeat: no-repeat;
	margin-left: 100px;

}
div.logo img{
 height: 15px;
	margin-top: 12.5px;
	float: left;
}
div.menu {
	word-spacing: 10px;
	font-size: 15px;
	font-weight: bolder;
	text-align: center;
	float: left;
	margin-left: 150px;
	margin-top: 12.5px;
}
.circle,
.circle:after,
.circle:before
{
    white-space: nowrap;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: white;
}
.circle:after,
.circle:before {
    content: "";
    vertical-align: top;
    display: inline-block;/* тк бефоре и афтер строчный*/
}
.circle:after{
    margin-left: 5px;
}
.circle:before {
    margin-left: 17px;
}
.circle{
    margin-left: 90px;
}
div.block{

	background-color: white;
	padding: 5px;
	position: absolute;
	text-align: center;
	top: 246px;
	left: 362px;
	display: inline;
	border-radius: 3px;
}
.imgg1{
	background-image:url(../img/shiip.jpg);
	height: 492px;
	background-size:contain; /* изобр по размеру контейнера */
	background-repeat: no-repeat;
	}
div.ship{
	position: relative;
	}
div.grey9{
	height: 45px;
	background-color: grey;
	position: relative;
}
span.blok1{
	position:absolute;
	border-radius: 5px;
	background-color: darkgrey;
	top:15.5px ;
	left: 560px;
	font-size: 12px;
	color: white;
	text-align: center;
	display: inline;
}
span.blok2{
	position: absolute;

	border-radius: 5px;
	background-color: darkgrey;
	top:15.5px ;
	right: 560px;
	font-size: 12px;
	color: white;
	text-align: center;
	display: inline;
}
.table h1{
	font-size: 20px;
	text-align: center;
	margin: 20px;
}
div.text1{
	width:460px ;
	text-align: justify;
	float: right;
	margin-right: 20px;
}

div.text2 {
	width: 440px;
	text-align: justify;
	float: left;
	margin: 0px 0px 20px 20px;

}
.container2{
	margin: 20px 0px 0px 0px;
}
div.lineimg{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;/* включает внутренний отступ и рамку, а контент-бокс только содержимое*/
	padding: 20px;


}
div.imgh{
	text-align: center;
}
div.int{
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0px;
	text-align: center;


}
div.tx1{
	font-size: 12px ;
	text-align: justify;
}
div.flower{

	overflow: hidden;
	margin-top: 20px;
}

div.imgfl {
	position: relative;
	width: 751px;
	height: auto;
	float: left;
}
div.imgfl img{
	width: 100%;
	display: block;/* для склеивания картинок*/
}
div.box{
	position: absolute;
	background-color: white;
	top: 183px;
	left: 335px;
	text-align: center;
	padding: 5px;
}
div.boxtext{
	float: left;
	height: 150px;
	right: 0px;
	margin-left: 12px;
	margin-top: 108px;
}

div.text4{

	height: 50px;
	font-size: 10px;

}
.ships{
	width: 1024px;
	overflow: auto;
}
div.imgship{
	position: relative;
	float: right;
}
div.imgship img{
	display: block;
}
div.box2{
	position: absolute;
	background-color: white;
	top: 183px;
	left: 335px;
	text-align: center;
	display:inline;
	padding: 5px;

}
div.boxtext2{
	float: right;
	height: 150px;
	width:260px ;
	display: inline-block;
	margin-top: 108px;

}
div.text5{
	font-size: 10px;
}
div.boxtext3{
	float: left;
	height: 150px;
	width:260px ;
	margin-left: 12px;
	margin-top: 108px;
}
div.imgpeop{
	position: relative;
	float: left;
}
div.imgpeop img{
	display: block;
}
div.text6{
	font-size: 10px;
}
div.people{
overflow: hidden;
}
footer.fot{
	padding: 20px 0px 0px 0px;
	position: relative;
	margin-top: 15px;
	overflow: hidden;
}

.clearfix{
	clear: both;
}
.imggeo2 {
text-align: center;
}

.bottom{
color: white;
	text-align: center;
}
.cont9{
	background-color: #555555;
	padding: 40px 0px 40px 0px;
}
.down{
	height: 40px;
	background-color: lightgray;
	border-radius: 0px 0px 10px 10px;
}